<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<h3>Reviews for this restaurant</h3>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>

</ul>

<%= link_to "Back to all restaurants", restaurants_path %>
